<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
  {{> header}}
    <H1> Digital 1 =  {{pks1}}    </H1>
    <H1>  Digital 1 = {{pks2}}    </H1>
    <H1>  Digital 1 = {{pks3}}    </H1>
    
</body>
</html>